html {
  font-family: monospace, Arial, Helvetica, sans-serif;
}

body {
  background-image: url(assets/lib-m.jpg);
}

#page_header {
  padding: 10px;
  background-color: rgb(214, 220, 238, 0.89);
  margin: auto;
  color: black;
  text-align: center;
}

#top_title {
  font-size: 50px;
  margin-top: 5px;
  margin-bottom: 14px;
  text-align: center;
}

#container {
  text-align: center;
}

.card {
  text-align: center;
  float: left;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  padding: 2px 16px;
  border-radius: 5px;
  color: white;
  background-color: rgb(190, 166, 105);
  margin: 45px;
  font-size: 16px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.open-button {
  background-color: green;
  font-family: monospace, Arial, Helvetica, sans-serif;
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  opacity: 0.75;
}

.open-button:hover{
  opacity: 1;
}

.remove-button {
  background-color: red;
  font-family: monospace, Arial, Helvetica, sans-serif;
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  opacity: 0.75;
}

.remove-button:hover{
  opacity: 1;
}
  
/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  top: 160px;
  left: 600px;
  z-index: 9;
  transition: all 5s ease-in-out;
}
  
.form-container {
  max-width: 300px;
  padding: 15px;
  background-color: white;
}
  
input {
    width: 100%;
    padding: 12px;
    margin: 10px 0 15px 0;
    border: none;
    background: #f1f1f1;
    box-sizing: border-box;
}
  
input:focus {
    background-color: #ddd;
    outline: none;
}
  
#btn_add {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  margin-top: 15px;
  opacity: 0.8;
}
  
#btn_cancel {
  background-color: red;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  margin-top: 10px;
  opacity: 0.8;
}

#btn_add:hover, #btn_cancel:hover {
  opacity: 1;
}

.remove {
  background-image: url(assets/delete_icon.png);
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  width: 12px;
  height: 12px;
  float: right;
  margin-right: -40px;
  margin-top: 5px;
}

.info {
  margin-top: 25px;
  float: center;
}

.switch_btn {
  background-image: url(assets/switch_icon.png);
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  width: 14px;
  height: 14px;
  float: right;
  margin-right: 20px;
  margin-top: 5px;
}

.dropbtn {
  background-color: rgb(73, 73, 63);
  font-family: monospace, Arial, Helvetica, sans-serif;
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  opacity: 0.75;
}

.dropdown {
  display: inline;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  width: 150px;
  margin-left: 759px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content button {
  color: black;
  padding: 12px 16px;
  width: 150px;
  display: block;
  border: black;
  font-family: monospace, Arial, Helvetica, sans-serif;
}

.dropdown-content button:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: rgb(116, 116, 110);}